/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* 
/* Reset default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}