body {
    background: linear-gradient(#fd3838, #2032ff);
    text-align: center;
    color: #FFF;
    font-family: Wittgenstein, serif;
}

.title {
    font-size: 50px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
    margin: 30px 0 20px 0;
}

.description {
    font-size: 20px;
}



.grid-cell {
    background-color: white;
    border: 1px solid black;

}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 5em;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Wittgenstein, serif;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    color: white;
    background-color: blue;
}



button:hover {
    background: green;
}

#slider {
    width: 200px;
}